# Node Modules
node_modules/

# Environment Variables
.env

# Build outputs
dist/
build/

# private ledger database
private_ledger/database.json

# private ledger folder
component-03-silent-bridge/private_ledger/

